header:after
aside:after
.content:after,
footer:after {
	content: "";
	clear: both;
	display: block;
}

.dropdown {
    -webkit-transition: width3s, height3s, background-color3s, duration3s;
    transition: width3s, height3s, background-color3s, duration 3s;
}

.dropdown:hover {
	background-color: rgba(187, 244, 255, 0.3);
	color: rgb(251, 189, 251);
}
.dropdown:active {
    background-color: #b0c4de;
}

.dropdown ul {
    transition: width 2s, height 2s, background-color 2s, color 2s;
    -webkit-transition: width 2s, height 2s, background-color 2s, color 2s;
}

.dropdown ul:hover {
    background-color: rgba(251, 189, 251, 0.4);
    color: rgb(222, 71, 158);
/*    background-color: rgba(0, 0, 0, 0.8);*/
/*    color: rgb(248, 24, 61);*/
/*    width: 15px;*/
}

.topnav {
	text-align: center;
	margin: 30px 0;
}

.topnav ul{
	margin: 0;
	padding: 0;
}

.topnav li{
	margin: 0 50px 5px 0;
	padding: 0;
	list-style: none;
	display: inline-block;
}

.title .jumbotron{
    background-image: url('/assets/image/taipei.jpg');
	height: 600px;
	background-repeat: no-repeat;
	background-size: cover;
}

.title .jumbotron .container{
	position: relative;
	top: 100px;
	text-align: center;
}

.title .jumbotron h1{
/*	color: #ffff00;*/
	font-size: 70px;
	font-family: 'High Tower Text';
}

.title .jumbotron p{
	padding-top: 50px;
	font-family: 'Lucida Handwriting';
	font-size: 15px;
}